@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");

.ItemCardHolder {
    position: absolute;
    left: 420px;
    top: 44px;
    display: flex;
    gap: 8px;
    align-items: center;
    align-content: start;
    width: calc(100% - 460px);
    height: calc(100% - 44px);
    flex-wrap: wrap;
    overflow: scroll;
  }

.catalogEmptyNotification {
  left: calc(50% - 120px);
  top: calc(50% - 170px);
  position: relative;
  width: 240px;
  height: 340px;
  background-color: #3E3E3E;
  border-radius: 20px;
}

.catalogEmptyCaption {
  position: absolute;
  bottom: 25px;
  font-family: 'Raleway';
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 18px;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #D9D9D9;
}

.sentimentSadImg {
  width: 45px;
  height: 45px;
  position: relative;
  left: calc(50% - 22.5px);
  top: calc(50% - 22.5px);
}