@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

.PartSlotHolder::-webkit-scrollbar { 
    display: none;
}

.PartSelectionCard {
    width: 310px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #282828;
    border: 2px solid;
    border-color: #7B7B7B;
    overflow: hidden;
    /* padding-bottom: 52px; */
    box-shadow: 0px 0px 6px 2px rgb(100, 100, 100);
    position: relative;
    max-height: 85%;
}

.PartSelectionText {
    font-family: 'Raleway';
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.TotalCostHolder {
    height: 50px;
    position: relative;
}

.CostLabel, .TotalCost {
    color: #FFFFFF;
    text-align: center;
    font-size: 21px;
    line-height: 50px;
}

.CostLabel {
    height: 50px;
    width: 180px;
    font-weight: 400;
}

.TotalCostMount {
    height: 50px;
    background-color: #3E3E3E;
    border-bottom-left-radius: 12px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 130px;
}

.TotalCost {
    width: 130px;
    font-weight: 600;
}

.PartSlotHolder {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 52px;
    flex-grow: 1;
}

.OrderButtonHolder {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 20px);
    padding: 10px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
    );
}
