@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

.Card {
    width: 240px;
    border-radius: 20px;
    background-color: #282828;
    border: 2px solid;
    border-color: #7B7B7B;
    overflow: hidden;
    margin: 6px;
    box-shadow: 0px 0px 6px 2px rgb(100, 100, 100);
}

.Mount {
    height: 270px;
    /* width: 100%; */
    background-color: #3E3E3E;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding-left: 8px;
    padding-top: 8px;
}

.ImgHolderContent {
    height: 224px;
    width: 224px;
}

.ImgHolder {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.Image {
    display: block;
    object-fit: cover;
}

.ItemCardOverlay {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    line-height: 224px;
    text-align: center;
    color: #D9D9D9;
    font-weight: 500;
    font-size: 50px;
    font-family: 'Raleway';
}

.ItemCardOverlay.noShow {
    display: none;
}

.ItemCardModelName {
    margin-left: 7px;
    color: #FFFFFF;
    height: 50px;
    width: 212px;
    line-height: 50px;
    font-weight: 500;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ItemCardText {
    font-family: 'Raleway';
}

.ButtonHolder {
    display: flex;
    flex-direction: row;
    height: 38;
    width: 220px;
    margin: 10px;
}

.RemoveButton {
    height: 38px;
    width: 65px;
    background-color: #BD4D3F;
    position: relative;
    border-radius: 9px;
    text-align: center;
    user-select: none;
}

.AddButton {
    height: 38px;
    width: 140px;
    background-color: #D9D9D9;
    color: #000000;
    line-height: 38px;
    font-weight: 650;
    font-size: 18px;
    text-align: center;
    border-radius: 9px;
    user-select: none;
}

.Overlay {

}

.AddButton.Selected {
    background-color: #2F8D46;
    color: #D9D9D9;
}

.AddButton.Minimized {
    /* flex: 1; */
    background-color: #2F8D46;
    width: 65px;
    margin-left: 10px;
}

.AddButton.GreyedOutGreen {
    animation: greyOutFromGreen 150ms cubic-bezier(0, 0, 0.25, 1) forwards;
}

.AddButton.GreyedOutWhite {
    animation: greyOutFromWhite 150ms cubic-bezier(0, 0, 0.25, 1) forwards;
}

.Button.SpecsButton {
    margin-left: 10px;
    background-color: #D9D9D9;
    position: relative;
    border-radius: 9px;
    user-select: none;
}

.InfoIcon {
    width: 26px;
    height: 26px;
    margin-top: 6px;
}

@keyframes greyOutFromGreen {
    0% {
        background-color: #2F8D46;
    }
    100% {
      background-color: #555555;
    }
}

@keyframes greyOutFromWhite {
    0% {
        background-color: #D9D9D9;
    }
    100% {
      background-color: #555555;
    }
}